@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
}

body {
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.home-grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "search search search"
    "content content content";
  grid-template-rows: auto 60px 1fr;
  gap: 36px;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  grid-area: search;
}

.content {
  grid-area: content;
}
